<!--
<ion-header>
  <ion-toolbar>
    <ion-title>deliverymode</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content (click)="dismiss()">

</ion-content>
<ion-footer class="ion-no-border">
	<ion-list lines="none">
		<div class="list_header">
			<h1 class="ion-text-center">Selecione o tipo de entrega</h1>
		</div>
		<ion-radio-group>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="1"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega econômica <span class="end">R$8.60</span></h2>
						<p>Entrega em 2 a 3 dias.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="2"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega Delux <span class="end">R$12.50</span></h2>
						<p>Entrega em até 6 horas.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="3"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega Premium <span class="end">R$20.00</span></h2>
						<p>Entregua em 2-3 horas.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="4"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega econômica <span class="end">R$8.60</span></h2>
						<p>Entrega em 2 a 3 dias.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="5"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega Delux <span class="end">R$12.50</span></h2>
						<p>Entrega em até 6 horas.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="7"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega Premium <span class="end">R$20.00</span></h2>
						<p>Entregua em 2-3 horas.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="7"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega econômica <span class="end">R$8.60</span></h2>
						<p>Entrega em 2 a 3 dias.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="8"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega Delux <span class="end">R$12.50</span></h2>
						<p>Entrega em até 6 horas.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="9"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Entrega Premium <span class="end">R$20.00</span></h2>
						<p>Entregua em 2-3 horas.</p>
					</div>
				</div>
			</ion-item>
		</ion-radio-group>
	</ion-list>
	<ion-button size="large" class="btn" (click)="dismiss()">Atualizar</ion-button>
</ion-footer>