<ion-header>
	<ion-toolbar>
		<ion-title></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_transparent">
	<ion-list lines="none">
		<div class="banner">
			<img src="assets/images/banner.png">
		</div>

		<ion-item class="item_shadow" (click)="arrange_delivery()">
			<div class="item_inner d-flex">
				<div class="img_box">
					<img src="assets/images/courier.png">
				</div>
				<div class="text_box">
					<h2>Entrega de pacote</h2>
					<p>Qualquer hora em qualquer lugar</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="item_shadow" (click)="search_restaurant()">
			<div class="item_inner d-flex">
				<div class="img_box">
					<img src="assets/images/food.png">
				</div>
				<div class="text_box">
					<h2>Entrega de comida</h2>
					<p>Qualquer hora em qualquer lugar</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="item_shadow" (click)="search_grocery_stores()">
			<div class="item_inner d-flex">
				<div class="img_box">
					<img src="assets/images/grocery.png">
				</div>
				<div class="text_box">
					<h2>Entrega de mercado</h2>
					<p>Qualquer hora em qualquer lugar</p>
				</div>
			</div>
		</ion-item>
	</ion-list>

	<div class="promotional_ads">
		<h2>Promoções</h2>
		<div class="scroll_container">
			<div class="item_scroll item_shadow">
				<div class="img_box center_img">
					<img src="assets/images/item_bg_1.png" class="crop_img">
				</div>

				<div class="text_box">
					<h3>Faça pedidos <br> e ganhe <strong>20%<br>de Desconto</strong> </h3>
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						<span class="location">São Paulo</span>
					</p>
				</div>
			</div>
			<div class="item_scroll item_shadow">
				<div class="img_box center_img">
					<img src="assets/images/item_bg_2.png" class="crop_img">
				</div>

				<div class="text_box">
					<h3>Faça pedidos <br> e ganhe <strong>20%<br>de Desconto</strong> </h3>
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						<span class="location">São Paulo</span>
					</p>
				</div>
			</div>
					<div class="item_scroll item_shadow">
				<div class="img_box center_img">
					<img src="assets/images/item_bg_1.png" class="crop_img">
				</div>

				<div class="text_box">
					<h3>Faça pedidos <br> e ganhe <strong>20%<br>de Desconto</strong> </h3>
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						<span class="location">São Paulo</span>
					</p>
				</div>
			</div>
			<div class="item_scroll item_shadow">
				<div class="img_box center_img">
					<img src="assets/images/item_bg_2.png" class="crop_img">
				</div>

				<div class="text_box">
					<h3>Faça pedidos <br> e ganhe <strong>20%<br>de Desconto</strong> </h3>
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						<span class="location">São Paulo</span>
					</p>
				</div>
			</div>
					<div class="item_scroll item_shadow">
				<div class="img_box center_img">
					<img src="assets/images/item_bg_1.png" class="crop_img">
				</div>

				<div class="text_box">
					<h3>Faça pedidos <br> e ganhe <strong>20%<br>de Desconto</strong> </h3>
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						<span class="location">São Paulo</span>
					</p>
				</div>
			</div>
			<div class="item_scroll item_shadow">
				<div class="img_box center_img">
					<img src="assets/images/item_bg_2.png" class="crop_img">
				</div>

				<div class="text_box">
					<h3>Faça pedidos <br> e ganhe <strong>20%<br>de Desconto</strong> </h3>
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						<span class="location">São Paulo</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</ion-content>
